.container {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	gap: 20px 40px;
	width: 100vw;
	height: 100vh;
    background-color: black;
    padding: 70px;
}

.profile {
	grid-area: 1/1/2/2;
	background-color: #5746EA;
	width: 100%;
	height: 50px;

}
.weather {
	grid-area: 2/1/3/2;
	background-color: #101744;
	margin-top: 20px;
	border-radius: 5px;
	width: 100%;
	height: 120px;
}
.timer {
	grid-area: 3 / 1 / 4 / 3;
	background-color: #1E2343;
	color: white;
}
.notes {
	grid-area: 1 / 2 / 3 / 3;
	
}
.news {
	grid-area: 1 / 3 / 4 / 4;
	background-color: rgba(233,21,92, 0.5);
}